<html>
    <head>
        <link type="text/css" rel="stylesheet" href="index.css">
    </head>
    <body>
        <%- include('frame')%>
        <div class="topbar">
            <br>
            <img src="https://media.discordapp.net/attachments/640229249533476884/870364818060742736/ATTML.png" class="logo" id="logo">
            <script>
                document.getElementById("logo").setAttribute('draggable', false);
            </script>
        <br>
        </div>
        <div class="loadedmods">
            <p class="thick">Loaded Mods</p><button class="btn">Open Mods Folder</button>
            <table style="width:100%">
                <tr>
                    <th></th>
                    <th>Mod Name</th>
                    <th>Version</th>
                    <th>Author</th>
                </tr>
                <tr class="mod">
                    <td><img class="modicon" src=https://static.thenounproject.com/png/526867-200.png></td>
                    <td>Durability Display</td>
                    <td>1.0.0</td>
                    <td>Christoffyw</td>
                </tr>
            </table>
        </div>
    </body>
</html>