<html>
    <head>
        <link type="text/css" rel="stylesheet" href="index.css">
    </head>
    <body>
        <div id="frameBar">
            <div id="frameResizableTop" class="frameDragPadder"></div>
            <div id="frameMain">
                <% if (process.platform === 'darwin') { %>
                    <div id="frameContentDarwin">
                        <div id="frameButtonDockDarwin">
                            <button class="frameButtonDarwin fCb" id="frameButtonDarwin_close" tabindex="-1"></button>
                            <button class="frameButtonDarwin fMb" id="frameButtonDarwin_minimize" tabindex="-1"></button>
                            <button class="frameButtonDarwin fRb" id="frameButtonDarwin_restoredown" tabindex="-1"></button>
                        </div>
                    </div>
                <% } else { %>
                    <div id="frameContentWin">
                        <div id="frameTitleDock">
                            <span id="frameTitleText"></span>
                        </div>
                        <div id="frameButtonDockWin">
                            <button class="frameButton fMb" id="frameButton_minimize" tabIndex="-1">
                                <svg name="TitleBarMinimize" width="10" height="10" viewBox="0 0 12 12"><rect stroke="#ffffff" fill="#ffffff" width="10" height="1" x="1" y="6"></rect></svg>
                            </button>
                            <button class="frameButton fRb" id="frameButton_restoredown" tabIndex="-1">
                                <svg name="TitleBarMaximize" width="10" height="10" viewBox="0 0 12 12"><rect width="9" height="9" x="1.5" y="1.5" fill="none" stroke="#ffffff" stroke-width="1.4px"></rect></svg>
                            </button>
                            <button class="frameButton fCb" id="frameButton_close" tabIndex="-1">
                                <svg name="TitleBarClose" width="10" height="10" viewBox="0 0 12 12"><polygon stroke="#ffffff" fill="#ffffff" fill-rule="evenodd" points="11 1.576 6.583 6 11 10.424 10.424 11 6 6.583 1.576 11 1 10.424 5.417 6 1 1.576 1.576 1 6 5.417 10.424 1"></polygon></svg>
                            </button>
                        </div>
                    </div>
                <% } %>
                <div class="frameResizableVert frameDragPadder"></div>
            </div>
        </div>
        <div class="topbar">
            <br>
            <img src="https://media.discordapp.net/attachments/640229249533476884/870364818060742736/ATTML.png" class="logo" id="logo">
            <script>
                document.getElementById("logo").setAttribute('draggable', false);
            </script>
        <br>
        </div>
        <div class="setup">
            <center>
                <p class="thick">Setup</p><br>
                <p>To continue with the setup we need to download BepInEx. This requires an internet connection.</p><br>
                <button id="downloadBep">Download BepInEx</button><br>
                <p id="pathText"></p><br>
                <p id="displayText">To finish the mod setup, launch the game to create some necessary files.<br> After you see the login screen you can then close the game.</p><br>
                <button id="confirmButton">Launch A Township Tale</button><br>
                <button id="continueButton">Continue</button>
                <script>
                    document.getElementById("pathText").style.visibility = "hidden";
                    document.getElementById("confirmButton").style.visibility = "hidden";
                    document.getElementById("continueButton").style.visibility = "hidden";
                    document.getElementById("displayText").style.visibility = "hidden";
                </script>
            </center>
        </div>
        <script src="downloadManager.js"></script>
    </body>
</html>